<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseCommands">
          Custom commands
        </button>
      </h2>
      <div id="collapseCommands" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row" *ngFor="let command of server.customCommands">
            <div class="col-5">
              <label [for]="'name' + command.id">Name</label>
              <br>
              <input [id]="'name' + command.id" type="text" [(ngModel)]="command.name" style="width: 100%;">
            </div>
            <div class="col-5">
              <label [for]="'reply' + command.id">Reply</label>
              <br>
              <textarea [id]="'reply' + command.id" cols="30" rows="3" [(ngModel)]="command.reply"
                style="width: 100%;"></textarea>
            </div>
            <div class="col-2">
              <button class="btn btn-danger">Delete custom command</button>
            </div>
            <hr>
          </div>
          <button class="btn btn-success">Add new custom command</button>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReactions">
          Reaction messages
        </button>
      </h2>
      <div id="collapseReactions" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row" *ngFor="let rm of server.reactionMessages">
            <div class="col-5">
              <label [for]="'channel' + rm.id">Channel</label>
              <br>
              <select [id]="'channel' + rm.id" [(ngModel)]="rm.channelId">
                <option *ngFor="let channel of channels" [value]="channel.id">#{{channel.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-success" (click)="saveServer()">Save everything</button>
</div>
