<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Venk-Site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/mods">Mods</a>
        </li>
      </ul>
      <div *ngIf="!user">
        <button class="btn btn-success" routerLink="/login">Login</button>
        <button class="btn btn-outline-success ms-2" routerLink="/register">Register</button>
      </div>
      <div *ngIf="user">
        <a id="clickable-username" class="dropdown-toggle" data-bs-toggle="dropdown" role="button"><img
            [src]="user.avatar ?? 'https://cdn.discordapp.com/embed/avatars/0.png'" width="24" height="24" alt="User avatar">&nbsp;{{user.username}}</a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
          <li id="logout-button" class="dropdown-item" (click)="logout()">Logout</li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
