<h2>Register</h2>
<label for="email">Email</label>
<input type="email" name="email" id="email" class="form-control" [(ngModel)]="registerDto.email">
<span id="email-validation" style="color: red;"></span>
<label for="username">Username</label>
<input type="text" name="username" id="username" class="form-control" [(ngModel)]="registerDto.username">
<span id="username-validation" style="color: red;"></span>
<label for="password">Password</label>
<input type="password" name="password" id="password" class="form-control" [(ngModel)]="registerDto.password">
<span id="password-validation" style="color: red;"></span>
<label for="password-again">Password again</label>
<input type="password" name="password-again" id="password-again" class="form-control" [(ngModel)]="registerDto.passwordAgain">
<span id="password-again-validation" style="color: red;"></span>
<button type="submit" class="btn btn-success mt-2" (click)="register()">Register</button>
